{%extends "base.html"%}
{%block title%}home page{%endblock%}
{%block body%}
 <div class="row mb-2">

    {%for label in labels%}
        <div class="col-md-6">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Found</strong>
              <h3 class="mb-0"> {{label}}</h3>
              <a href="{{ url_for('productInfo',p = label) }}"" class="stretched-link">Continue reading</a>
            </div>

          </div>
        </div>

    {%endfor%}

  </div>
{%endblock%}
{%block jscript%}

{%endblock%}