<html>
	<head>
        <title>{%block title%}{%endblock%}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="https://mdn-samples.mozilla.org/s/webrtc-capturestill/capture.js">
	    </script>
    </head>
	<body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
          <h5 class="my-0 mr-md-auto font-weight-normal">Greendigo</h5>
          <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="#">About</a>
            <a class="p-2 text-dark" href="#">Privacy</a>
          </nav>
          <a class="btn btn-outline-primary" href="#">Github repository</a>
        </div>
        <div class="container">
		{%block body%}{%endblock%}

         <hr class="featurette-divider">
        </div>

          <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>Developed by Yahya Akli & Nabil Berjaoui&middot; <a href="#">Privacy</a> </p>
          </footer>
        {%block jscript%}{%endblock%}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	</body>
</html>